body{
  color: seashell;
  background-color: black;
  font-family: helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
}
header{
  display: flex;
  border-bottom: 1px solid seashell;
  position: fixed;
}
main{
  display: flex;
  flex-direction: column;
}
a{
  color: seashell;
}
nav span{
  diplay: flex;
  padding: 20px;
}
.nav{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  padding: 10px;
}
.mission{
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  width: auto;
  height: 700px;
  align-items: center;
}
.tea{
  margin: 0 auto;
  text-align: center;
}
.location{
  display: flex;
  border: 3px solid green;
}
.banner{
  background-color: black;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.all-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
}
.pic img{
  width: 300px;
  height: 200px;
  margin: 10px;
}
