body{
  color: seashell;
  background-color: black;
  font-family: helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  margin: 0 auto;
}
header{
  display: flex;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  width: 100%;
}
main{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}
a{
  color: seashell;
}
nav span{
  diplay: flex;
  padding: 20px;
}
.nav{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  padding: 10px;
}
.mission{
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  height: 700px;
  align-items: center;
}
.tea{
  margin: 0 auto;
  text-align: center;
}
.locations{
  display: flex;
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  height: 500px;
  align-items: center;
}
.banner{
  background-color: black;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.all-pics{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}
.pic img{
  width: 300px;
  height: 200px;
  margin: 10px;
}
.all-locs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.loc{
  width: 300px;
  height: 300px;
  margin: 15px;
  background-color: black;
  opacity: 1;
  text-align: center;
}
.footer{
  height: 200px;
}
.contact-info {
  text-align: center;
}
.copyright{
  margin-left: 20px;
  text-align: left;
}
